* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    color: rgb(155, 12, 107);
}

input {
    margin-top: 50px;
    width: 40%;
    height: 2.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

button {
    margin-top: 20px;
    width: 80px;
    height: 2rem;
    background-color: coral;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
}

.container {
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}